@model IEnumerable<Folferine.Website.Models.GameViewModel>

@{
    ViewBag.Title = "Games";
}

<div class="panel panel-default">
    
    <div class="panel-heading"><h4>@ViewBag.Title</h4></div>

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.CourseName)</th>
            <th>Rounds</th>
            <th class="hidden-xs">Players</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastRound) / @Html.DisplayFor(modelItem => item.CourseHoleCount)</td>
                <td class="hidden-xs">@Html.DisplayFor(modelItem => item.ScorecardsCount)</td>
                <td>
                    @Html.ActionLink("Continue", "Continue", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) | 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>


<p>
    Create a @Html.ActionLink("new game", "Create")
</p>